<%= form_for @post, html: { multipart: true } do |f| %>
	<% if @post.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "error") %> </h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<br>
	<p>
		<h3> Nom du club </h3>
		<%= f.text_field :title %>
	</p>
	<br>
	<p>
		<h3> Description du maillot </h3>
		<%= f.text_area :body %>
	</p>


	<p>
		<%= f.submit %>
	</p>
<% end %>
